.shopping-list {
  width: 600px;
  margin: 0 auto;
}

.shopping-list li {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}


.shopping-list button {
  align-self: flex-end;
}

.shopping-cart {}
